<section class="cd-product">
   <div class="cd-product-intro">
      <h1><!-- Product name --></h1>
      <p><!-- Product description --></p>
      <div class="cd-triggers">
         <a href="#0" class="cd-btn">Download</a>
         <a href="#cd-product-tour" id="cd-start" class="cd-btn">Start</a>
      </div>
   </div> <!-- cd-product-intro -->

   <div id="cd-product-tour" class="cd-product-mockup">
      <img src="images/mockup.png" alt="Preview image"> <!-- mockup image -->
      <ul class="cd-points-container">
         <li class="cd-single-point">
            <a class="cd-img-replace" href="#0">More info</a>
            <div class="cd-more-info cd-left">
               <h2><!-- Point of interest title --></h2>
               <p><!-- Point of interest description --></p>
               <a href="#0" class="cd-close-info cd-img-replace">Close</a>
            </div>
         </li> <!-- .cd-single-point -->

         <!-- other points of interest here -->

      </ul> <!-- .cd-points-container -->

      <div class="cd-3d-right-side"></div> 
      <div class="cd-3d-bottom-side"></div>

   </div> <!-- .cd-product-mockup -->
</section> <!-- .cd-product -->

<style>
.cd-product-intro::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1170px) {
  .cd-product-intro {
    position: absolute;
    left: 0;
    width: 50%;
    padding: 0;
    text-align: left;
    transition: transform 0.6s, opacity 0.6s;
  }
  .cd-product-intro::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-product-mockup {
  width: 90%;
  /* set here the max-width for the mockup */
  max-width: 450px;
  margin: 0 auto;
}
@media only screen and (min-width: 1170px) {
  .cd-product-mockup {
    transform-style: preserve-3d;
    transform-origin: center top;
    transform: rotateX(-60deg) rotateZ(-40deg) translateX(50px) translateY(300px);
    transition: transform 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-3d-right-side, .cd-3d-bottom-side {
    display: block;
    position: absolute;
    left: 0;
    background-image: url(../img/cd-app-image.png);
    /* Firefox bug - 3D CSS transform, jagged edges */
    outline: 1px solid transparent;
  }
  .cd-3d-right-side {
    top: -1px;
    width: 10px;
    height: 100%;
    background-size: auto 100%;
    transform-origin: left center;
    transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
  }
  .cd-3d-bottom-side {
    bottom: 0;
    width: 100%;
    height: 10px;
    background-position: bottom center;
    background-size: 100% auto;
    transform-origin: center bottom;
    transform: translateZ(-1px) rotateX(-90deg);
  }
}
@media only screen and (min-width: 1170px) {
  .cd-product-mockup::before {
    /* mockup shadow */
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    /* play with these values to create a realistic shadow */
    height: 45%;
    box-shadow: 0px 0px 30px 225px rgba(0, 0, 0, 0.1);
    transform: translateZ(-100px) translateY(480px);
    
    transition: transform 0.6s;
  }
}
</style>
