<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BXGameIdentifier</key>
	<string>05244302-6F83-4EE8-954A-AF5FA6EB1681</string>
	<key>BXGameIdentifierType</key>
	<integer>1</integer>
</dict>
</plist>
